
/todo.txt
/dump.php
/config.php


# Ignore working images directory
/photos
/photos/*
!/photos/.gitignore

# Ignore working thumbnail directory
/_thumbs
/_thumbs/*
!/_thumbs/.gitignore

# PHPStorm
/.idea