
# Ignore default images directory
/photos/*
!/photos/.gitignore

# Ignore default thumbnail directory
/_thumbs/*
!/_thumbs/.gitignore

# PHPStorm
/.idea

# Dev files
/todo.txt
/config.php
